doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    script(type="text/javascript", src="/javascripts/nav.js")
  body
      block nav
        #sidenav.sidenav
          a(href="https://johnbrz.com") Home 
          a(href="https://johnbrz.com") Web Portfolio 
          a(href="https://johnbrz.com") Audio Portfolio
          a(href="https://johnbrz.com") Video Portfolio
          a(href="https://johnbrz.com") About Birchwood
          a(href="https://johnbrz.com") Contact Us
      block container
        #main
          #nav-icon-container
            i.fas.fa-bars#nav-open-icon(onClick="openNav()")
            i.fas.fa-times#nav-close-icon(onClick="closeNav()",style="display:none")
          #content
            block content
