@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,800|Raleway:100,400|Lato|Oswald+Light');

html {
  height:100%;
  font-size:2em;
}
body {
  height:100%;
  margin:0;
  padding:0;
  font-family: "EB Garamond", Georgia, serif;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.social i {
  color: black;
  font-size: 1em;
  margin: 0 0.5em;
}
a {
  color: #00B7FF;
}
img {
  width:100%;
}
h1,h2,h3,h4,h5,h6 {
  font-weight:100;
}
h1 {
  font-size:4em;
  font-weight:100;
  margin:0 auto;
}
i {
  font-size:3em;
  transition: .3s;
}
i#nav-open-icon {
  padding:10px 15px;
}
#nav-icon-container {
  color:#252525;
  background:rgba(255,255,255,0.5);
  position:fixed;
  top:0;
  left:0;
}
i#nav-close-icon {
  display:block;
  padding:10px 15px;
  text-align:center;
  color:white;
}
i#nav-open-icon:hover {
  cursor:pointer;
  color:#8d8;
  background:#111;
}
i#nav-close-icon:hover {
  cursor:pointer;
  color:#d35;
  background:#222;
}
#main {
  margin:0;
  padding:0;
  position:relative;
}
#header {
  padding:0 1em;
}
#content {
  margin:0 auto;
  padding-top:1em;
/*
  max-width:1024px;
*/
}
#content p {
  font-size:1em;
  text-align:justify;
  margin:1em auto;
  max-width:1024px;
  padding:0 1em;
}
#content h1,h2,h3,h4,h5,h6 {
  text-align:center;
}

#maintitle {
  display:block;
  margin:0 auto;
  margin-bottom:-0.25em;
  font-family: "EB Garamond", serif;
  font-weight:800;
  font-size:4em;
  text-align:right;
  transition: .3s;
}
#subtitle {
  display:block;
  margin:0 auto;
  font-family: "Raleway", sans-serif;
  font-weight:100;
  font-size:1em;
  text-align:right;
  transition: .3s;
}



/* SIDE NAV */
#sidenav {
  height: 100%;
  font-family:Raleway,Helvetica,Arial,sans-serif;
  width: 0;
  max-width:100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  white-space:nowrap;
  font-size:2em;
  font-weight:100;
  padding:0.5em;
  text-align:left; 
  text-decoration:none;
  color: white;
  display: block;
  transition: 0.3s;
  border:1px dotted #222;
}

.sidenav a:hover {
  color: #8d8;
  background:#222;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}
#johnspic {
  max-width:512px;
  display:block;
  border-radius:3em;
  margin:0 auto;
}


/* Medium Screen */
@media screen and (max-width:80em) {
  html {
    font-size:1.5em;
  }
}
/* Small Screen */
@media screen and (max-width:40em) {
  html {
    font-size:1em;
  }
  h1#maintitle {
    font-size:3.5em;
  }
}




